.THIS .slds-section__title{
    background-color: YellowGreen;
    color: white
}
.THIS .slds-modal__headeer{
    background-color: #7ed6df;
    color: white
}
.THIS .slds-modal__header{
    background-color: #7ed6df;
    color: white
}
.THIS .slds-modal__headere{
    background-color: #16a085;
    color: white
}
.THIS .slds-modal__headere{
    background-color: white;
  
}
